.wrapper {
  @apply text-sm bg-[#EDEBEF] font-medium  text-gray-500 border-b border-[#cccccc] dark:text-gray-400 dark:border-[#d3d2d2] text-center;
  .flexx {
    @apply flex flex-wrap -mb-px;
    .tab {
      @apply inline-block p-4 cursor-pointer rounded-t-lg border-b-2 text-black border-transparent hover:text-blue-400 dark:hover:text-gray-300;
    }
  }
}

.tablee {
  @apply w-full text-sm text-left pt-10 text-white snap-x rounded-lg  dark:text-white;
}
:global(.dark) .tablee {
  color: white;
}
.tableGrid {
  @apply grid grid-cols-12 py-6;
}
.tablerow {
  @apply bg-[#EDEBEF]  text-black dark:bg-[#1C2024] dark:border-[#810000] border-b;
  .tablehead {
    @apply px-6 py-7 font-normal flex  text-black dark:text-white whitespace-nowrap;
  }
  .headText {
    @apply ml-1 mt-[3px] my-auto text-xs;
  }
  .tableData {
    @apply text-[13px] px-6 py-4;
  }
  .buttonSecondary {
    @apply dark:bg-[#1C3446] border border-[#CE6CF7] text-sm dark:text-white text-[#4594CD] bg-[white] px-3 py-2 rounded;
  }
  .buttonPrimary {
    @apply text-sm text-white px-3 py-2 rounded;
    background-image: linear-gradient(to right, #ce6cf7, #5860cb) !important;
  }
  .textDanger {
    @apply text-[13px] text-[#E86062] px-6 py-4;
  }
  .textSuccess {
    @apply text-[13px] text-[#3FB791] px-6 py-4;
  }
}
.topText {
  font-size: 13px;
  font-weight: 400 !important;
}
.tableShadow {
  @apply relative overflow-x-auto shadow-md sm:rounded-lg;
}
:global(.dark) .tablerow {
  background-color: #112533;
  border-bottom: 1px solid #8d8d8d;
}
:global(.dark) .tablehead {
  color: white;
}
:global(.dark) .buttonSecondary {
  background: #1c3446;
}
:global(.dark) .tab {
  color: white !important;
}
:global(.dark) .tablerow {
  background-color: #1c2024;
  color: white;
}

.active {
  @apply inline-block p-4 rounded-t-lg text-[#4594CD]  border-transparent  cursor-pointer dark:hover:text-gray-300;

  border-bottom: 2px solid #d26bf5;
}
:global(.dark) .wrapper {
  background-color: #1c2024;
}
