.wrapper {
  @apply w-full bg-slate-500 flex items-center justify-between p-4 md:px-10 shadow-md;

  .logo {
    @apply cursor-pointer max-w-[60px] h-auto;
  }

  .menuIcon {
    @apply lg:hidden text-white text-3xl;
  }

  .links {
    @apply hidden lg:flex items-center justify-between gap-12;
    .active {
      .link {
        @apply relative flex flex-col items-center;
        .text {
          @apply text-base;
        }
        .iconText {
          @apply w-full flex items-center;
          .icon {
            @apply mr-[6px];
          }
          .text {
            @apply text-base;
          }
        }
        .activeBar {
          width: calc(100% + 20px);
          height: 7px;
          border-radius: 4.5px;
          background: linear-gradient(
            90deg,
            rgba(65, 68, 106, 1) 0%,
            rgba(15, 14, 63, 1) 100%
          );
          position: absolute;
          bottom: -37px;
        }
      }
    }
    .inactive {
      .link {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
          @apply text-base;
        }
        .iconText {
          width: 100%;
          display: flex;
          align-items: center;
          .icon {
            margin-right: 6px;
          }
          .text {
            @apply text-base;
          }
        }
      }
    }
    .button {
      @apply flex items-center gap-2;
    }
  }
}
