.tablee {
  @apply w-full text-sm text-left snap-x rounded-lg  text-gray-500 dark:text-white;
}
:global(.dark) .tablee {
  color: white;
}
.tableGrid {
  @apply grid grid-cols-12 py-6;
}
.tablerow {
  @apply bg-[#F0F0F0]  dark:bg-[#112533] dark:border-[#816868] border-b;
  .tablehead {
    @apply px-6 py-7 font-normal flex text-gray-900 dark:text-white whitespace-nowrap;
  }
  .headText {
    @apply ml-1 mt-[3px] my-auto text-xs;
  }
  .tableData {
    @apply text-[13px] px-6 py-4;
  }
  .buttonSecondary {
    @apply dark:bg-[#1C3446] border border-[#CE6CF7] text-sm dark:text-white text-[#4594CD] bg-[white] px-3 py-2 rounded;
  }
  .buttonPrimary {
    @apply text-sm text-white px-3 py-2 rounded;
    background-image: linear-gradient(to right, #ce6cf7, #5860cb) !important;
  }
  .textDanger {
    @apply text-[#E86062] text-[13px] px-6 py-4;
  }
  .textSuccess {
    @apply text-[#3FB791] text-[13px] px-6 py-4;
  }
}
.topText {
  font-size: 13px;
  font-weight: normal;
}
.tableShadow {
  @apply relative overflow-x-auto shadow-md sm:rounded-lg;
}
:global(.dark) .tablerow {
  background-color: #112533;
  border-bottom: 1px solid #816868;
}
:global(.dark) .tablehead {
  color: white;
}
:global(.dark) .buttonSecondary {
  background: #1c3446;
}
